@{
    Layout = null;
}

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel='stylesheet' type='text/css' />
</head>
<body>
    <div class="container">
        <h1>Opps</h1>
        <p>Seems like you are not authorize to see the ruby</p>
        <img width="100%" src="~/images/403.gif">
        <a href=@Url.Action("index","home")>Go Back to home</a>
    </div>
</body>
</html>