@{
    ViewBag.Title = "Home Page";
}

<div class="content-main">
    <!--banner-->
    <div class="banner">
        <h2>
            <a href="#">Home</a>
            <i class="fa fa-angle-right"></i>
            <span>Dashboard</span>
        </h2>
    </div>
</div>
<div class="clearfix"> </div>
<!---->
<!--scrolling js-->
