@model BugTracker.Models.ProjectAssignViewModel
@{
    ViewBag.Title = "AssignUsers";
}
<div class="content-main">

    <!--banner-->
    <div class="banner">
        <h2>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
            <span>Projects</span>
        </h2>
    </div>
    <!--//banner-->
    <!--faq-->
    <div class="blank">


        <div class="blank-page">
            <h2>Assign users to Project</h2>
            <hr />
            <section class="content">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(p => p.Id)
                    @Html.ListBoxFor(p => p.SelectedUsers, Model.UserList)
                    <input type="submit" value="Submit!" class="btn btn-success" />
                }
            </section>

        </div>
    </div>
</div>


