@model BugTracker.Models.IndexViewModel
<div class="content-main">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="banner">
        <h2>
            <i class="fa fa-angle-right"></i>
            <span>Profile</span>
        </h2>
    </div>
    <div class=" profile">

        <div class="profile-bottom">
            <h3><i class="fa fa-user"></i>Profile</h3>
          
            <div class="profile-bottom-bottom">
                <div class="col-md-4 profile-fo">
                    @if (Model.HasPassword)
                    {
                        <a href="@Url.Action("ChangePassword","Manage")" class="pro"><i class="fa fa-user"></i>Change your password</a>
                    }
                    else
                    {
                        <a href="@Url.Action("SetPassword","Manage")" class="pro"><i class="fa fa-user"></i>Change your password</a>
                    }

                </div>
                <div class="col-md-4 profile-fo">
                    <a href="@Url.Action("ChangeProfile","Manage")" class="pro1"><i class="fa fa-user"></i>Update Info</a>
                </div>
                <div class="col-md-4 profile-fo">
                    <a href="#"><i class="fa fa-cog"></i>Profile Pic</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
